@import "tailwindcss";

@theme {
  /* Colores base */
  --color-primary-light: #72d0ba;
  --color-primary-foreground-light: #ffffff; /* texto legible sobre verde claro */
  --color-primary-dark-light: #1a76d2;

  --color-primary: #20ab9f;
  --color-primary-foreground: #ffffff; /* texto legible sobre verde */
  --color-primary-dark: #225045;

  /* Secundario – Rojo anaranjado */
  --color-secondary-light: #f7b5af;
  --color-secondary-foreground-light: #000000;
  --color-secondary-dark-light: #f08a82;

  --color-secondary: #e84c3d;
  --color-secondary-foreground: #ffffff;
  --color-secondary-dark: #c7382b;

  /* Destructive */
  --color-destructive: #e53935;
  --color-destructive-foreground: #ffffff;

  /* Neutros */
  --color-background: #ffffff;
  --color-foreground: #111827;
  --color-muted: #d1d5db80;
  --color-muted-foreground: #6b7280;
  --color-border: #d1d5db;
  --color-border-input: #d1d5db;

  /* Estados */
  --color-accent: #f3f4f6; /* gris clarito solo en hover */
  --color-accent-foreground: #111827;

  --color-ring: #72d0ba; /* mismo que primary para focus-visible */
  --color-ring-offset: var(--color-background);

  /* Extras */
  --color-success: #10b981;
  --color-success-foreground: #ffffff;

  --color-warning: #f59e0b;
  --color-warning-foreground: #111827;

  /* Superficies */
  --color-popover: #ffffff;
  --color-popover-foreground: #111827;

  /* Badges */
  --color-info-foreground: #92400e;

  /* Fonts */
  --font-body: "Inter", system-ui, sans-serif;
  --font-heading: "Inter Tight", "Inter", system-ui, sans-serif;
}

/* Inter → texto y contenido */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Inter Tight → títulos */
@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/Inter_Tight/InterTight-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter Tight";
  src: url("/fonts/Inter_Tight/InterTight-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-body);
    line-height: 1.5;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-heading);
  }
}
